@mixin standardHeader {
  margin: 0;
  line-height: 1.3;
  letter-spacing: -0.1rem;
  font-weight: 500;
}

/* Default smallest */
h1,h2,h3,h4,h5,h6 { @include standardHeader; }
h1 { font-size: 2.8rem; letter-spacing: normal;}
h2 { font-size: 1.9rem; line-height: 2.1rem; letter-spacing: normal; font-weight:bold;}
h3 { font-size: 1.5rem; }
h4 { font-size: 2.4rem; }
h5 { font-size: 1.8rem; }
h6 { font-size: 1.5rem; }

/* Larger than phablet */
@media (min-width: $phablet-width) {
  h1 { font-size: 4.0rem; }
  h2 { font-size: 2.0rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

/* Styles -----------------------------

html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }
