@charset "UTF-8";
/*main*/
/*borders*/
/*highlight*/
/*for "Don't" boxes*/
/*body links*/
.container {
  position: relative;
  width: 94%;
  max-width: 920px;
  margin: 0 auto;
  padding: 0 0;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 94%;
    /* SC edited from 80% to 100% */
    padding: 0; } }

/* For devices smaller than 400px */
@media (min-width: 400px) {
  .container {
    width: 90%;
    /* SC edited from 80% to 100% */
    padding: 0; } }

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 94%; }
  /* SC edited from 80% to 100% */
  .column,
  .columns {
    /*margin-left: 4%; SC commented out */ }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
  .one.column,
  .one.columns {
    width: 4.66666666667%; }
  .two.columns {
    width: 13.3333333333%; }
  .three.columns {
    width: 22%; }
  .four.columns {
    width: 30.6666666667%; }
  .five.columns {
    width: 39.3333333333%; }
  .six.columns {
    width: 50%; }
  .seven.columns {
    width: 56.6666666667%; }
  .eight.columns {
    width: 65.3333333333%; }
  .nine.columns {
    width: 74.0%; }
  .ten.columns {
    width: 82.6666666667%; }
  .eleven.columns {
    width: 91.3333333333%; }
  .twelve.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column {
    width: 30.6666666667%; }
  .two-thirds.column {
    width: 65.3333333333%; }
  .one-half.column {
    width: 48%; }
  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Added by SC
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Added by SC
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*main*/
.mainColour {
  background-color: #EDE2D0; }

/*highlight*/
.secondaryColour {
  background-color: #f4ede2; }

/*for "Don't" boxes*/
.negativeColour {
  background-color: #f0e7d7; }

/*borders*/
.borderColour {
  border-color: #E68B5A; }

/*body links*/
.moreInfoLinkColour {
  color: #403118; }

/* for smallest devices -------------------------------------*/
.homeLink {
  display: block;
  color: #000000;
  text-align: left;
  font-size: 1.9rem;
  text-decoration: underline; }

.header-intro {
  border-bottom: 8px solid #E68B5A;
  padding-bottom: 48px;
  margin-bottom: 48px; }

.snippet {
  background-color: #f4ede2;
  margin: 24px 0;
  padding: 24px; }

.guidance-header span {
  display: block;
  margin-bottom: 1.5rem; }

.guidance-img-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .guidance-img-container img {
    max-width: 120px; }

.page-title {
  margin: 1rem 0; }
  .page-title span {
    font-size: 1.5rem; }

.doDontHeader {
  text-align: center;
  border-style: solid;
  border-width: 0 0 4px 0;
  padding: 2%;
  z-index: 1;
  transition-property: background-color;
  transition-duration: 0.2s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.2s;
  -o-transition-property: background-color;
  -o-transition-duration: 0.2s; }

.doDontHeader.fixed {
  top: 0;
  position: fixed;
  width: 96%;
  z-index: 0;
  transition-property: background-color;
  transition-duration: 0.2s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.2s;
  -o-transition-property: background-color;
  -o-transition-duration: 0.2s; }

.doDontHeader.fixed.absolute {
  position: absolute; }

.guidanceBox img {
  margin: 5rem;
  max-height: 20rem; }

/* Sizing for page title */
.titleFlexParent {
  display: flex;
  margin: 1.8rem 0 1.8rem 0; }

.titleFlexChild {
  margin: 2rem 0; }

img.titleFlexChild {
  max-width: 10rem;
  max-height: 7.6rem;
  /*margin: 1.8rem;*/
  flex: 0; }

/* Sizing for individual guidance box */
.guidanceBox {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin: 15px;
  padding: 15px;
  height: 180px; }

.guidanceBox img {
  margin: auto;
  max-height: 100px;
  max-width: 150px; }

.guidanceBox p {
  margin: 10px;
  text-align: center; }

.guidanceBox a {
  text-align: center;
  cursor: pointer; }

.moreInfoLink {
  text-decoration: underline; }

/* Sizing for menu page picture box */
.picturebox {
  background: mainColour;
  display: flex;
  flex-flow: column;
  text-align: center;
  margin-top: 30px; }

.picturebox img {
  max-height: 350px;
  max-width: 350px; }

/* CSS Modal ----------------------------------*/
/*Greying out the background*/
.dialog {
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.66);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	z-index: 99999;*/
  -webkit-transition: opacity 150ms ease-in;
  -moz-transition: opacity 150ms ease-in;
  transition: opacity 150ms ease-in;
  /*pointer-events: none;
  overflow: auto;*/ }

.dialog[aria-hidden="true"] {
  display: none; }

/*.modal:target {
	opacity:1;
	pointer-events: auto;
}*/
.modal-body {
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  /*position: relative;*/
  padding: 5%; }

.modal-body h2 {
  text-align: center; }

.modal-body h3 {
  font-size: 1.8rem; }

.modal-body img {
  max-height: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px; }

/*Close and back*/
.back {
  display: block;
  color: #000000;
  text-align: left;
  padding: 0; }

.close {
  display: block;
  color: #000000;
  text-align: center;
  padding: 0; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

/* for larger devices -----------------------------------*/
@media (min-width: 400px) {
  a.homeLink {
    display: block;
    color: #000000;
    text-align: left;
    font-size: 1.9rem;
    margin: 1rem 0 0 1.8rem; }
  .titleFlexParent {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin: 3.5rem 0 3.5rem 0; }
  h1.titleFlexChild {
    flex: 0 60%; }
  img.titleFlexChild {
    max-width: 270rem;
    max-height: 10rem;
    flex: 0; }
  .doDontHeader {
    text-align: center;
    border-style: solid;
    border-width: 0 0 4px 0;
    /*margin: 2%;*/ }
  .modal-body {
    width: 50%;
    padding: 3%; }
  .modal-body p {
    padding: 0 5%; } }

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  /*font-weight: 400; SC commented out */
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }

a:hover {
  color: #0FA0CE; }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside; }

ol, ul {
  padding-left: 0;
  margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
/* Default smallest */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.3;
  letter-spacing: -0.1rem;
  font-weight: 500; }

h1 {
<<<<<<< HEAD
  font-size: 2.8rem;
  letter-spacing: normal; }
=======
  font-size: 2.9rem; }
>>>>>>> f72cb7267e9306571b961066055951061a88df98

h2 {
  font-size: 1.9rem;
  line-height: 2.1rem;
  letter-spacing: normal;
  font-weight: bold; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 2.4rem; }

h5 {
  font-size: 1.8rem; }

h6 {
  font-size: 1.5rem; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 4.0rem; }
  h2 {
    font-size: 2.7rem; }
  h3 {
    font-size: 3.6rem; }
  h4 {
    font-size: 3.0rem; }
  h5 {
    font-size: 2.4rem; }
  h6 {
    font-size: 1.5rem; } }

/* Styles -----------------------------

html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

.headerImage {
  margin: 3.5rem 0 3.5rem 0;
  background-image: url("../image/autismSpectrum/292.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  display: block; }
