/*main*/
$mainColour: #EDE2D0;

/*borders*/
$lineColour: #E68B5A;

/*highlight*/
$secondaryColour: lighten($mainColour, 5%);

/*for "Don't" boxes*/
$negativeColour: lighten($mainColour, 2%);

/*body links*/
$moreInfoLinkColour: darken($mainColour, 70%);
